{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheaderbase.png",
      "fileBody" : "/interface/chests/capturepodchest60body2.png",
      "fileFooter" : "/interface/chests/capturepodchest60footer.png?multiply=00000000"
    },
    "backgroundHeader" : {
      "type" : "image",
      "file" : "/interface/chests/capturepodchest60header.png",
      "position" : [0, 325],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundBody" : {
      "type" : "image",
      "file" : "/interface/chests/capturepodchest60body.png",
      "position" : [0, 25],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundFooter" : {
      "type" : "image",
      "file" : "/interface/chests/capturepodchest60footer.png",
      "position" : [0, 0],
      "visible" : true,
      "zlevel" : -10
    },
    "title" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [29, 338],
      "zlevel" : -10
    },
    "subTitle" : {
      "type" : "label",
      "value" : "^shadow;^gray;Storage",
      "hAnchor" : "left",
      "position" : [29, 328],
      "zlevel" : -10
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [176, 26]
    },
    "petImage1" : {
      "type" : "image",
      "file" : "",
      "position" : [25, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage2" : {
      "type" : "image",
      "file" : "",
      "position" : [65, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage3" : {
      "type" : "image",
      "file" : "",
      "position" : [105, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage4" : {
      "type" : "image",
      "file" : "",
      "position" : [145, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage5" : {
      "type" : "image",
      "file" : "",
      "position" : [185, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage6" : {
      "type" : "image",
      "file" : "",
      "position" : [225, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage7" : {
      "type" : "image",
      "file" : "",
      "position" : [265, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage8" : {
      "type" : "image",
      "file" : "",
      "position" : [305, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage9" : {
      "type" : "image",
      "file" : "",
      "position" : [345, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage10" : {
      "type" : "image",
      "file" : "",
      "position" : [385, 288],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage11" : {
      "type" : "image",
      "file" : "",
      "position" : [25, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage12" : {
      "type" : "image",
      "file" : "",
      "position" : [65, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage13" : {
      "type" : "image",
      "file" : "",
      "position" : [105, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage14" : {
      "type" : "image",
      "file" : "",
      "position" : [145, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage15" : {
      "type" : "image",
      "file" : "",
      "position" : [185, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage16" : {
      "type" : "image",
      "file" : "",
      "position" : [225, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage17" : {
      "type" : "image",
      "file" : "",
      "position" : [265, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage18" : {
      "type" : "image",
      "file" : "",
      "position" : [305, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage19" : {
      "type" : "image",
      "file" : "",
      "position" : [345, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage20" : {
      "type" : "image",
      "file" : "",
      "position" : [385, 245],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage21" : {
      "type" : "image",
      "file" : "",
      "position" : [25, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage22" : {
      "type" : "image",
      "file" : "",
      "position" : [65, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage23" : {
      "type" : "image",
      "file" : "",
      "position" : [105, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage24" : {
      "type" : "image",
      "file" : "",
      "position" : [145, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage25" : {
      "type" : "image",
      "file" : "",
      "position" : [185, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage26" : {
      "type" : "image",
      "file" : "",
      "position" : [225, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage27" : {
      "type" : "image",
      "file" : "",
      "position" : [265, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage28" : {
      "type" : "image",
      "file" : "",
      "position" : [305, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage29" : {
      "type" : "image",
      "file" : "",
      "position" : [345, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage30" : {
      "type" : "image",
      "file" : "",
      "position" : [385, 202],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage31" : {
      "type" : "image",
      "file" : "",
      "position" : [25, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage32" : {
      "type" : "image",
      "file" : "",
      "position" : [65, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage33" : {
      "type" : "image",
      "file" : "",
      "position" : [105, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage34" : {
      "type" : "image",
      "file" : "",
      "position" : [145, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage35" : {
      "type" : "image",
      "file" : "",
      "position" : [185, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage36" : {
      "type" : "image",
      "file" : "",
      "position" : [225, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage37" : {
      "type" : "image",
      "file" : "",
      "position" : [265, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage38" : {
      "type" : "image",
      "file" : "",
      "position" : [305, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage39" : {
      "type" : "image",
      "file" : "",
      "position" : [345, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage40" : {
      "type" : "image",
      "file" : "",
      "position" : [385, 159],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage41" : {
      "type" : "image",
      "file" : "",
      "position" : [25, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage42" : {
      "type" : "image",
      "file" : "",
      "position" : [65, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage43" : {
      "type" : "image",
      "file" : "",
      "position" : [105, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage44" : {
      "type" : "image",
      "file" : "",
      "position" : [145, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage45" : {
      "type" : "image",
      "file" : "",
      "position" : [185, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage46" : {
      "type" : "image",
      "file" : "",
      "position" : [225, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage47" : {
      "type" : "image",
      "file" : "",
      "position" : [265, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage48" : {
      "type" : "image",
      "file" : "",
      "position" : [305, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage49" : {
      "type" : "image",
      "file" : "",
      "position" : [345, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage50" : {
      "type" : "image",
      "file" : "",
      "position" : [385, 116],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage51" : {
      "type" : "image",
      "file" : "",
      "position" : [25, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage52" : {
      "type" : "image",
      "file" : "",
      "position" : [65, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage53" : {
      "type" : "image",
      "file" : "",
      "position" : [105, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage54" : {
      "type" : "image",
      "file" : "",
      "position" : [145, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage55" : {
      "type" : "image",
      "file" : "",
      "position" : [185, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage56" : {
      "type" : "image",
      "file" : "",
      "position" : [225, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage57" : {
      "type" : "image",
      "file" : "",
      "position" : [265, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage58" : {
      "type" : "image",
      "file" : "",
      "position" : [305, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage59" : {
      "type" : "image",
      "file" : "",
      "position" : [345, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "petImage60" : {
      "type" : "image",
      "file" : "",
      "position" : [385, 73],
      "visible" : false,
      "zlevel" : -10,
			"centered" : true,
			"maxSize" : [ 20, 20 ],
			"minSize" : [ 20, 20 ]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 51],
      "dimensions" : [10, 6],
      "spacing" : [40, 43],
      "backingImage" : "/interface/inventory/empty.png",
      "showBackingImageWhenFull" : true
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [203, 315]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/capturepodchest60shine.png",
      "position" : [0, 0]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [391, 331]
    },
    "optionsBackground" : {
      "type" : "image",
      "file" : "/interface/chests/capturepodchest60options.png",
      "position" : [1, 25],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsButton" : {
      "type" : "button",
      "base" : "/interface/chests/options.png",
      "hover" : "/interface/chests/optionschecked.png",
      "baseImageChecked" : "/interface/chests/optionschecked.png",
      "hoverImageChecked" : "/interface/chests/options.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [11, 316],
      "zlevel" : 11
    },
    "optionsLabel" : {
      "type" : "label",
      "value" : "OPTIONS",
      "hAnchor" : "mid",
      "position" : [203, 315],
      "visible" : false,
      "zlevel" : 11
    },
    "optionsSave" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [218, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Save"
    },
    "optionsReset" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [134, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Reset"
    },
    "optionsOption1Label" : {
      "type" : "label",
      "value" : "+ Name:",
      "hAnchor" : "left",
      "position" : [131, 283],
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainer" : {
      "type" : "textbox",
      "position" : [208, 283],
      "hint" : "Rename",
      "maxWidth" : 65,
      "escapeKey" : "renameContainerAbort",
      "enterKey" : "renameContainer",
      "callback" : "null",
      "focus" : false,
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainerImage" : {
      "type" : "image",
      "file" : "/interface/chests/renameContainerImage.png",
      "position" : [204, 283],
      "visible" : false,
      "zlevel" : 11
    },
    "fontColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "selected" : true,
          "position" : [206, 274],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontwhite.png",
          "hoverImage" : "/interface/chests/fontwhitehover.png",
          "baseImageChecked" : "/interface/chests/fontwhitechecked.png",
          "hoverImageChecked" : "/interface/chests/fontwhitecheckedhover.png"
        },
        {
          "id" : 2,
          "position" : [218, 274],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontred.png",
          "hoverImage" : "/interface/chests/fontredhover.png",
          "baseImageChecked" : "/interface/chests/fontredchecked.png",
          "hoverImageChecked" : "/interface/chests/fontredcheckedhover.png"
        },
        {
          "id" : 3,
          "position" : [230, 274],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontorange.png",
          "hoverImage" : "/interface/chests/fontorangehover.png",
          "baseImageChecked" : "/interface/chests/fontorangechecked.png",
          "hoverImageChecked" : "/interface/chests/fontorangecheckedhover.png"
        },
        {
          "id" : 4,
          "position" : [242, 274],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontgreen.png",
          "hoverImage" : "/interface/chests/fontgreenhover.png",
          "baseImageChecked" : "/interface/chests/fontgreenchecked.png",
          "hoverImageChecked" : "/interface/chests/fontgreencheckedhover.png"
        },
        {
          "id" : 5,
          "position" : [254, 274],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontblue.png",
          "hoverImage" : "/interface/chests/fontbluehover.png",
          "baseImageChecked" : "/interface/chests/fontbluechecked.png",
          "hoverImageChecked" : "/interface/chests/fontbluecheckedhover.png"
        },
        {
          "id" : 6,
          "position" : [266, 274],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontpink.png",
          "hoverImage" : "/interface/chests/fontpinkhover.png",
          "baseImageChecked" : "/interface/chests/fontpinkchecked.png",
          "hoverImageChecked" : "/interface/chests/fontpinkcheckedhover.png"
        }
      ]
    },
    "optionsOption2Label" : {
      "type" : "label",
      "value" : "+ Color:",
      "hAnchor" : "left",
      "position" : [131, 243],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColorsBorder" : {
      "type" : "image",
      "file" : "/interface/chests/interfacecolorsborder.png",
      "position" : [204, 242],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "position" : [205, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacered.png",
          "baseImageChecked" : "/interface/chests/interfaceredchecked.png"
        },
        {
          "id" : 2,
          "position" : [212, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceorange.png",
          "baseImageChecked" : "/interface/chests/interfaceorangechecked.png"
        },
        {
          "id" : 3,
          "position" : [219, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceyellow.png",
          "baseImageChecked" : "/interface/chests/interfaceyellowchecked.png"
        },
        {
          "id" : 4,
          "selected" : true,
          "position" : [226, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacegreen.png",
          "baseImageChecked" : "/interface/chests/interfacegreenchecked.png"
        },
        {
          "id" : 5,
          "position" : [233, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacemint.png",
          "baseImageChecked" : "/interface/chests/interfacemintchecked.png"
        },
        {
          "id" : 6,
          "position" : [240, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacecyan.png",
          "baseImageChecked" : "/interface/chests/interfacecyanchecked.png"
        },
        {
          "id" : 7,
          "position" : [247, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceblue.png",
          "baseImageChecked" : "/interface/chests/interfacebluechecked.png"
        },
        {
          "id" : 8,
          "position" : [254, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacedarkblue.png",
          "baseImageChecked" : "/interface/chests/interfacedarkbluechecked.png"
        },
        {
          "id" : 9,
          "position" : [261, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepurple.png",
          "baseImageChecked" : "/interface/chests/interfacepurplechecked.png"
        },
        {
          "id" : 10,
          "position" : [268, 242],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepink.png",
          "baseImageChecked" : "/interface/chests/interfacepinkchecked.png"
        }
      ]
    },
    "optionsOption3Label" : {
      "type" : "label",
      "value" : "+ Smashing keeps items:",
      "hAnchor" : "left",
      "position" : [131, 208],
      "visible" : false,
      "zlevel" : 11
    },
    "keepContent" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : true,
      "position" : [268, 208],
      "callback" : "null",
      "visible" : false,
      "zlevel" : 11
    }
  },
  "scriptWidgetCallbacks" : [
    "renameContainer",
    "renameContainerAbort",
    "fontColors",
    "optionsButton",
    "optionsSave",
    "optionsReset",
    "interfaceColors"
  ],
  "scripts" : ["/scripts/capturepodchestgui.lua"],
  "scriptDelta" : 20,

  "acceptItems" : [
    "capturepod",
    "filledcapturepod"
  ]
}