{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheaderbase.png",
      "fileBody" : "/interface/chests/chest91body2.png",
      "fileFooter" : "/interface/chests/chest91footer.png?multiply=00000000"
    },
    "backgroundHeader" : {
      "type" : "image",
      "file" : "/interface/chests/chest91header.png",
      "position" : [0, 302],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundBody" : {
      "type" : "image",
      "file" : "/interface/chests/chest91body.png",
      "position" : [0, 25],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundFooter" : {
      "type" : "image",
      "file" : "/interface/chests/chest91footer.png",
      "position" : [0, 0],
      "visible" : true,
      "zlevel" : -10
    },
    "title" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [29, 315],
      "zlevel" : -10
    },
    "subTitle" : {
      "type" : "label",
      "value" : "^shadow;^gray;Storage",
      "hAnchor" : "left",
      "position" : [29, 305],
      "zlevel" : -10
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [62, 26]
    },
    "searchFieldImage" : {
      "type" : "image",
      "file" : "/interface/chests/searchfield1.png",
      "position" : [53, 12],
      "visible" : false,
			"zlevel" : -10
    },
    "searchfieldOverlay" : {
      "type" : "image",
      "file" : "/interface/chests/searchfieldOverlay.png",
      "position" : [53, 12],
      "visible" : false,
			"zlevel" : -5
    },
    "searchField" : {
      "type" : "textbox",
      "position" : [67, 14],
      "hint" : "Search",
      "maxWidth" : 55,
      "escapeKey" : "searchAbort",
      "enterKey" : "searchEnter",
      "callback" : "searchCallback",
      "focus" : false,
      "visible" : false
    },
    "searchOverlay1" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 270], "visible" : false, "zlevel" : 1 },
    "searchOverlay2" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 270], "visible" : false, "zlevel" : 1 },
    "searchOverlay3" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 251], "visible" : false, "zlevel" : 1 },
    "searchOverlay4" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 251], "visible" : false, "zlevel" : 1 },
    "searchOverlay5" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 232], "visible" : false, "zlevel" : 1 },
    "searchOverlay6" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 232], "visible" : false, "zlevel" : 1 },
    "searchOverlay7" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 213], "visible" : false, "zlevel" : 1 },
    "searchOverlay8" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 213], "visible" : false, "zlevel" : 1 },
    "searchOverlay9" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 194], "visible" : false, "zlevel" : 1 },
    "searchOverlay10" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 194], "visible" : false, "zlevel" : 1 },
    "searchOverlay11" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 270], "visible" : false, "zlevel" : 1 },
    "searchOverlay12" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 270], "visible" : false, "zlevel" : 1 },
    "searchOverlay13" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 251], "visible" : false, "zlevel" : 1 },
    "searchOverlay14" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 251], "visible" : false, "zlevel" : 1 },
    "searchOverlay15" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 232], "visible" : false, "zlevel" : 1 },
    "searchOverlay16" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 232], "visible" : false, "zlevel" : 1 },
    "searchOverlay17" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 213], "visible" : false, "zlevel" : 1 },
    "searchOverlay18" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 213], "visible" : false, "zlevel" : 1 },
    "searchOverlay19" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 194], "visible" : false, "zlevel" : 1 },
    "searchOverlay20" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 194], "visible" : false, "zlevel" : 1 },
    "searchOverlay21" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay22" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay23" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay24" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay25" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay26" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay27" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117,175], "visible" : false, "zlevel" : 1 },
    "searchOverlay28" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay29" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 175], "visible" : false, "zlevel" : 1 },
    "searchOverlay30" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay31" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay32" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay33" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay34" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay35" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay36" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay37" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay38" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 156], "visible" : false, "zlevel" : 1 },
    "searchOverlay39" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay40" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay41" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay42" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay43" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay44" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay45" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay46" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay47" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 137], "visible" : false, "zlevel" : 1 },
    "searchOverlay48" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay49" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay50" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay51" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay52" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay53" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay54" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay55" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay56" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 118], "visible" : false, "zlevel" : 1 },
    "searchOverlay57" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay58" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay59" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay60" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay61" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay62" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay63" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay64" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay65" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 99], "visible" : false, "zlevel" : 1 },
    "searchOverlay66" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay67" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay68" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay69" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay70" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay71" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay72" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay73" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay74" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 80], "visible" : false, "zlevel" : 1 },
    "searchOverlay75" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay76" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay77" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay78" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay79" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay80" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay81" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay82" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay83" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [155, 61], "visible" : false, "zlevel" : 1 },
    "searchOverlay84" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay85" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay86" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay87" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay88" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay89" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay90" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 42], "visible" : false, "zlevel" : 1 },
    "searchOverlay91" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 42], "visible" : false, "zlevel" : 1 },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 195],
      "dimensions" : [2, 5],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [137, 195],
      "slotOffset" : 10,
      "dimensions" : [2, 5],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 43],
      "slotOffset" : 20,
      "dimensions" : [9, 8],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [89, 292]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/chest91shine.png",
      "position" : [0, 0]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [163, 308]
    },
    "transferInventoryItems" : {
      "type" : "button",
      "base" : "/interface/chests/transferInventoryItems.png",
      "hover" : "/interface/chests/transferInventoryItemshover.png",
      "visible" : false,
      "position" : [8, 12]
    },
    "sortContainer" : {
      "type" : "button",
      "base" : "/interface/chests/sort.png",
      "hover" : "/interface/chests/sorthover.png",
      "callback" : "sortContainerCallback",
      "visible" : false,
      "position" : [163, 12]
    },
    "sortoptionstab" : {
      "type" : "image",
      "file" : "/interface/chests/sortoptionstab.png",
      "position" : [130, 0],
      "visible" : false,
      "zlevel" : -10
    },
    "sortoptionsdirection" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsdescending.png",
      "hover" : "/interface/chests/sortoptionsdescendinghover.png",
      "baseImageChecked" : "/interface/chests/sortoptionsascending.png",
      "hoverImageChecked" : "/interface/chests/sortoptionsascendinghover.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [139, 4],
      "zlevel" : 10
    },
    "sortoptionsbyname" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyname.png",
      "hover" : "/interface/chests/sortoptionsbynamehover.png",
      "position" : [148, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbytype" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbytype.png",
      "hover" : "/interface/chests/sortoptionsbytypehover.png",
      "position" : [148, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbyrarity" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyrarity.png",
      "hover" : "/interface/chests/sortoptionsbyrarityhover.png",
      "position" : [148, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbyvalue" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyvalue.png",
      "hover" : "/interface/chests/sortoptionsbyvaluehover.png",
      "position" : [148, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsBackground" : {
      "type" : "image",
      "file" : "/interface/chests/chest91options.png",
      "position" : [1, 25],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsButton" : {
      "type" : "button",
      "base" : "/interface/chests/options.png",
      "hover" : "/interface/chests/optionschecked.png",
      "baseImageChecked" : "/interface/chests/optionschecked.png",
      "hoverImageChecked" : "/interface/chests/options.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [11, 293],
      "zlevel" : 11
    },
    "optionsLabel" : {
      "type" : "label",
      "value" : "OPTIONS",
      "hAnchor" : "mid",
      "position" : [89, 292],
      "visible" : false,
      "zlevel" : 11
    },
    "optionsSave" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [104, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Save"
    },
    "optionsReset" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [20, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Reset"
    },
    "optionsOption1Label" : {
      "type" : "label",
      "value" : "+ Name:",
      "hAnchor" : "left",
      "position" : [17, 260],
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainer" : {
      "type" : "textbox",
      "position" : [94, 260],
      "hint" : "Rename",
      "maxWidth" : 65,
      "escapeKey" : "renameContainerAbort",
      "enterKey" : "renameContainer",
      "callback" : "null",
      "focus" : false,
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainerImage" : {
      "type" : "image",
      "file" : "/interface/chests/renameContainerImage.png",
      "position" : [90, 260],
      "visible" : false,
      "zlevel" : 11
    },
    "fontColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "selected" : true,
          "position" : [92, 251],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontwhite.png",
          "hoverImage" : "/interface/chests/fontwhitehover.png",
          "baseImageChecked" : "/interface/chests/fontwhitechecked.png",
          "hoverImageChecked" : "/interface/chests/fontwhitecheckedhover.png"
        },
        {
          "id" : 2,
          "position" : [104, 251],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontred.png",
          "hoverImage" : "/interface/chests/fontredhover.png",
          "baseImageChecked" : "/interface/chests/fontredchecked.png",
          "hoverImageChecked" : "/interface/chests/fontredcheckedhover.png"
        },
        {
          "id" : 3,
          "position" : [116, 251],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontorange.png",
          "hoverImage" : "/interface/chests/fontorangehover.png",
          "baseImageChecked" : "/interface/chests/fontorangechecked.png",
          "hoverImageChecked" : "/interface/chests/fontorangecheckedhover.png"
        },
        {
          "id" : 4,
          "position" : [128, 251],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontgreen.png",
          "hoverImage" : "/interface/chests/fontgreenhover.png",
          "baseImageChecked" : "/interface/chests/fontgreenchecked.png",
          "hoverImageChecked" : "/interface/chests/fontgreencheckedhover.png"
        },
        {
          "id" : 5,
          "position" : [140, 251],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontblue.png",
          "hoverImage" : "/interface/chests/fontbluehover.png",
          "baseImageChecked" : "/interface/chests/fontbluechecked.png",
          "hoverImageChecked" : "/interface/chests/fontbluecheckedhover.png"
        },
        {
          "id" : 6,
          "position" : [152, 251],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontpink.png",
          "hoverImage" : "/interface/chests/fontpinkhover.png",
          "baseImageChecked" : "/interface/chests/fontpinkchecked.png",
          "hoverImageChecked" : "/interface/chests/fontpinkcheckedhover.png"
        }
      ]
    },
    "optionsOption2Label" : {
      "type" : "label",
      "value" : "+ Color:",
      "hAnchor" : "left",
      "position" : [17, 220],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColorsBorder" : {
      "type" : "image",
      "file" : "/interface/chests/interfacecolorsborder.png",
      "position" : [90, 219],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "position" : [91, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacered.png",
          "baseImageChecked" : "/interface/chests/interfaceredchecked.png"
        },
        {
          "id" : 2,
          "position" : [98, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceorange.png",
          "baseImageChecked" : "/interface/chests/interfaceorangechecked.png"
        },
        {
          "id" : 3,
          "position" : [105, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceyellow.png",
          "baseImageChecked" : "/interface/chests/interfaceyellowchecked.png"
        },
        {
          "id" : 4,
          "selected" : true,
          "position" : [112, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacegreen.png",
          "baseImageChecked" : "/interface/chests/interfacegreenchecked.png"
        },
        {
          "id" : 5,
          "position" : [119, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacemint.png",
          "baseImageChecked" : "/interface/chests/interfacemintchecked.png"
        },
        {
          "id" : 6,
          "position" : [126, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacecyan.png",
          "baseImageChecked" : "/interface/chests/interfacecyanchecked.png"
        },
        {
          "id" : 7,
          "position" : [133, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceblue.png",
          "baseImageChecked" : "/interface/chests/interfacebluechecked.png"
        },
        {
          "id" : 8,
          "position" : [140, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacedarkblue.png",
          "baseImageChecked" : "/interface/chests/interfacedarkbluechecked.png"
        },
        {
          "id" : 9,
          "position" : [147, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepurple.png",
          "baseImageChecked" : "/interface/chests/interfacepurplechecked.png"
        },
        {
          "id" : 10,
          "position" : [154, 219],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepink.png",
          "baseImageChecked" : "/interface/chests/interfacepinkchecked.png"
        }
      ]
    },
    "optionsOption3Label" : {
      "type" : "label",
      "value" : "+ Smashing keeps items:",
      "hAnchor" : "left",
      "position" : [17, 185],
      "visible" : false,
      "zlevel" : 11
    },
    "keepContent" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : true,
      "position" : [154, 185],
      "callback" : "null",
      "visible" : false,
      "zlevel" : 11
    }
  },
  "scriptWidgetCallbacks" : [
    "transferInventoryItems",
    "sortContainerCallback",
    "renameContainer",
    "renameContainerAbort",
    "fontColors",
    "optionsButton",
    "optionsSave",
    "optionsReset",
    "interfaceColors",
    "searchAbort",
    "searchEnter",
    "searchCallback",
    "sortoptionsdirection",
    "sortoptionsbyname",
    "sortoptionsbytype",
    "sortoptionsbyrarity",
    "sortoptionsbyvalue"
  ],
  "scripts" : ["/scripts/enhancedstoragegui.lua"],
  "scriptDelta" : 20,
  
  "acceptItems" : [
    "card01",
    "card02",
    "card03",
    "card04",
    "card05",
    "card06",
    "card07",
    "card08",
    "card09",
    "card10",
    "card11",
    "card12",
    "card13",
    "card14",
    "card15",
    "card16",
    "card17",
    "card18",
    "card19",
    "card20",
    "card21",
    "card22",
    "card23",
    "card24",
    "card25",
    "card26",
    "card27",
    "card28",
    "card29",
    "card30",
    "card31",
    "card32",
    "card33",
    "card34",
    "card35",
    "card36",
    "card37",
    "card38",
    "card39",
    "card40",
    "card41",
    "card42",
    "card43",
    "card44",
    "card45",
    "card46",
    "card47",
    "card48",
    "card49",
    "card50",
    "card51",
    "card52",
    "card53",
    "card54",
    "card55",
    "card56",
    "card57",
    "card58",
    "card59",
    "card60",
    "card61",
    "card62",
    "card63",
    "card64",
    "card65",
    "card66",
    "card67",
    "card68",
    "card69",
    "card70",
    "card71",
    "card72",
    "card73",
    "card74",
    "card75",
    "card76",
    "card77",
    "card78",
    "card79",
    "card80",
    "card81",
    "card82",
    "card83",
    "card84",
    "card85",
    "card86",
    "card87",
    "card88",
    "card89",
    "card90",
    "card91"
  ]
}