{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheaderbase.png",
      "fileBody" : "/interface/chests/chest72body2.png",
      "fileFooter" : "/interface/chests/chest72footer.png?multiply=00000000"
    },
    "backgroundHeader" : {
      "type" : "image",
      "file" : "/interface/chests/chest72header.png",
      "position" : [0, 230],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundBody" : {
      "type" : "image",
      "file" : "/interface/chests/chest72body.png",
      "position" : [0, 25],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundFooter" : {
      "type" : "image",
      "file" : "/interface/chests/chest72footer.png",
      "position" : [0, 0],
      "visible" : true,
      "zlevel" : -10
    },
    "title" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [29, 243],
      "zlevel" : -10
    },
    "subTitle" : {
      "type" : "label",
      "value" : "^shadow;^gray;Storage",
      "hAnchor" : "left",
      "position" : [29, 233],
      "zlevel" : -10
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [52, 26]
    },
    "searchFieldImage" : {
      "type" : "image",
      "file" : "/interface/chests/searchfield1.png",
      "position" : [43, 12],
      "visible" : false,
			"zlevel" : -10
    },
    "searchfieldOverlay" : {
      "type" : "image",
      "file" : "/interface/chests/searchfieldOverlay.png",
      "position" : [43, 12],
      "visible" : false,
			"zlevel" : -5
    },
    "searchField" : {
      "type" : "textbox",
      "position" : [57, 14],
      "hint" : "Search",
      "maxWidth" : 55,
      "escapeKey" : "searchAbort",
      "enterKey" : "searchEnter",
      "callback" : "searchCallback",
      "focus" : false,
      "visible" : false
    },
    "searchOverlay1" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay2" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay3" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay4" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay5" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay6" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay7" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay8" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay9" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay10" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay11" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay12" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay13" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay14" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay15" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay16" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay17" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay18" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay19" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay20" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay21" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay22" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay23" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay24" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay25" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay26" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay27" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay28" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay29" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay30" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay31" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay32" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay33" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay34" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay35" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay36" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay37" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay38" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay39" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay40" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay41" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay42" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay43" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay44" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay45" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay46" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay47" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay48" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay49" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay50" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay51" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay52" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay53" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay54" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay55" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay56" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay57" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay58" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay59" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay60" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay61" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay62" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay63" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay64" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay65" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [3, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay66" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [22, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay67" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [41, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay68" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [60, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay69" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [79, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay70" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [98, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay71" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [117, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay72" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [136, 44], "visible" : false, "zlevel" : 1 },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 45],
      "dimensions" : [8, 9],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [79, 220]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/chest72shine.png",
      "position" : [0, 0]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [143, 236]
    },
    "transferInventoryItems" : {
      "type" : "button",
      "base" : "/interface/chests/transferInventoryItems.png",
      "hover" : "/interface/chests/transferInventoryItemshover.png",
      "visible" : false,
      "position" : [5, 12]
    },
    "sortContainer" : {
      "type" : "button",
      "base" : "/interface/chests/sort.png",
      "hover" : "/interface/chests/sorthover.png",
      "callback" : "sortContainerCallback",
      "visible" : false,
      "position" : [143, 12]
    },
    "sortoptionstab" : {
      "type" : "image",
      "file" : "/interface/chests/sortoptionstab.png",
      "position" : [110, 0],
      "visible" : false,
      "zlevel" : -10
    },
    "sortoptionsdirection" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsdescending.png",
      "hover" : "/interface/chests/sortoptionsdescendinghover.png",
      "baseImageChecked" : "/interface/chests/sortoptionsascending.png",
      "hoverImageChecked" : "/interface/chests/sortoptionsascendinghover.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [119, 4],
      "zlevel" : 10
    },
    "sortoptionsbyname" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyname.png",
      "hover" : "/interface/chests/sortoptionsbynamehover.png",
      "position" : [128, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbytype" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbytype.png",
      "hover" : "/interface/chests/sortoptionsbytypehover.png",
      "position" : [128, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbyrarity" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyrarity.png",
      "hover" : "/interface/chests/sortoptionsbyrarityhover.png",
      "position" : [128, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbyvalue" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyvalue.png",
      "hover" : "/interface/chests/sortoptionsbyvaluehover.png",
      "position" : [128, 3],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsBackground" : {
      "type" : "image",
      "file" : "/interface/chests/chest72options.png",
      "position" : [1, 25],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsButton" : {
      "type" : "button",
      "base" : "/interface/chests/options.png",
      "hover" : "/interface/chests/optionschecked.png",
      "baseImageChecked" : "/interface/chests/optionschecked.png",
      "hoverImageChecked" : "/interface/chests/options.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [11, 221],
      "zlevel" : 11
    },
    "optionsLabel" : {
      "type" : "label",
      "value" : "OPTIONS",
      "hAnchor" : "mid",
      "position" : [79, 220],
      "visible" : false,
      "zlevel" : 11
    },
    "optionsSave" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [94, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Save"
    },
    "optionsReset" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [10, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Reset"
    },
    "optionsOption1Label" : {
      "type" : "label",
      "value" : "+ Name:",
      "hAnchor" : "left",
      "position" : [7, 188],
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainer" : {
      "type" : "textbox",
      "position" : [84, 188],
      "hint" : "Rename",
      "maxWidth" : 65,
      "escapeKey" : "renameContainerAbort",
      "enterKey" : "renameContainer",
      "callback" : "null",
      "focus" : false,
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainerImage" : {
      "type" : "image",
      "file" : "/interface/chests/renameContainerImage.png",
      "position" : [80, 188],
      "visible" : false,
      "zlevel" : 11
    },
    "fontColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "selected" : true,
          "position" : [82, 179],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontwhite.png",
          "hoverImage" : "/interface/chests/fontwhitehover.png",
          "baseImageChecked" : "/interface/chests/fontwhitechecked.png",
          "hoverImageChecked" : "/interface/chests/fontwhitecheckedhover.png"
        },
        {
          "id" : 2,
          "position" : [94, 179],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontred.png",
          "hoverImage" : "/interface/chests/fontredhover.png",
          "baseImageChecked" : "/interface/chests/fontredchecked.png",
          "hoverImageChecked" : "/interface/chests/fontredcheckedhover.png"
        },
        {
          "id" : 3,
          "position" : [106, 179],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontorange.png",
          "hoverImage" : "/interface/chests/fontorangehover.png",
          "baseImageChecked" : "/interface/chests/fontorangechecked.png",
          "hoverImageChecked" : "/interface/chests/fontorangecheckedhover.png"
        },
        {
          "id" : 4,
          "position" : [118, 179],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontgreen.png",
          "hoverImage" : "/interface/chests/fontgreenhover.png",
          "baseImageChecked" : "/interface/chests/fontgreenchecked.png",
          "hoverImageChecked" : "/interface/chests/fontgreencheckedhover.png"
        },
        {
          "id" : 5,
          "position" : [130, 179],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontblue.png",
          "hoverImage" : "/interface/chests/fontbluehover.png",
          "baseImageChecked" : "/interface/chests/fontbluechecked.png",
          "hoverImageChecked" : "/interface/chests/fontbluecheckedhover.png"
        },
        {
          "id" : 6,
          "position" : [142, 179],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontpink.png",
          "hoverImage" : "/interface/chests/fontpinkhover.png",
          "baseImageChecked" : "/interface/chests/fontpinkchecked.png",
          "hoverImageChecked" : "/interface/chests/fontpinkcheckedhover.png"
        }
      ]
    },
    "optionsOption2Label" : {
      "type" : "label",
      "value" : "+ Color:",
      "hAnchor" : "left",
      "position" : [7, 148],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColorsBorder" : {
      "type" : "image",
      "file" : "/interface/chests/interfacecolorsborder.png",
      "position" : [80, 147],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "position" : [81, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacered.png",
          "baseImageChecked" : "/interface/chests/interfaceredchecked.png"
        },
        {
          "id" : 2,
          "position" : [88, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceorange.png",
          "baseImageChecked" : "/interface/chests/interfaceorangechecked.png"
        },
        {
          "id" : 3,
          "position" : [95, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceyellow.png",
          "baseImageChecked" : "/interface/chests/interfaceyellowchecked.png"
        },
        {
          "id" : 4,
          "selected" : true,
          "position" : [102, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacegreen.png",
          "baseImageChecked" : "/interface/chests/interfacegreenchecked.png"
        },
        {
          "id" : 5,
          "position" : [109, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacemint.png",
          "baseImageChecked" : "/interface/chests/interfacemintchecked.png"
        },
        {
          "id" : 6,
          "position" : [116, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacecyan.png",
          "baseImageChecked" : "/interface/chests/interfacecyanchecked.png"
        },
        {
          "id" : 7,
          "position" : [123, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceblue.png",
          "baseImageChecked" : "/interface/chests/interfacebluechecked.png"
        },
        {
          "id" : 8,
          "position" : [130, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacedarkblue.png",
          "baseImageChecked" : "/interface/chests/interfacedarkbluechecked.png"
        },
        {
          "id" : 9,
          "position" : [137, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepurple.png",
          "baseImageChecked" : "/interface/chests/interfacepurplechecked.png"
        },
        {
          "id" : 10,
          "position" : [144, 147],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepink.png",
          "baseImageChecked" : "/interface/chests/interfacepinkchecked.png"
        }
      ]
    },
    "optionsOption3Label" : {
      "type" : "label",
      "value" : "+ Smashing keeps items:",
      "hAnchor" : "left",
      "position" : [7, 113],
      "visible" : false,
      "zlevel" : 11
    },
    "keepContent" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : true,
      "position" : [144, 113],
      "callback" : "null",
      "visible" : false,
      "zlevel" : 11
    }
  },
  "scriptWidgetCallbacks" : [
    "transferInventoryItems",
    "sortContainerCallback",
    "renameContainer",
    "renameContainerAbort",
    "fontColors",
    "optionsButton",
    "optionsSave",
    "optionsReset",
    "interfaceColors",
    "searchAbort",
    "searchEnter",
    "searchCallback",
    "sortoptionsdirection",
    "sortoptionsbyname",
    "sortoptionsbytype",
    "sortoptionsbyrarity",
    "sortoptionsbyvalue"
  ],
  "scripts" : [
    "/scripts/enhancedstoragegui.lua"
  ],
  "scriptDelta" : 20
}