{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/cropshipper/cropshipperheader.png",
      "fileBody" : "/interface/scripted/cropshipper/cropshipperbody.png",
      "fileFooter" : "/interface/scripted/cropshipper/cropshipperfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [43, 141],
      "file" : "",
      "centered" : true,
      "maxSize" : [60, 60],
      "minSize" : [60, 60]
    },
    "btnShip" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Ship",
      "position" : [96, 26],
      "callback" : "triggerShipment"
    },
    "lblMoneyLabel" : {
      "type" : "label",
      "position" : [6, 28],
      "value" : "TOTAL VALUE"
    },
    "imgMoneyIcon" : {
      "type" : "image",
      "position" : [56, 29],
      "centered" : false,
      "file" : "/interface/inventory/money.png"
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [68, 28],
      "value" : "0"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 100],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 43],
      "slotOffset" : 16,
      "dimensions" : [8, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "40 SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 178]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/scripted/cropshipper/cropshippershine.png",
      "position" : [0, 0]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [143, 194]
    }
  },

  "scriptWidgetCallbacks" : [
    "triggerShipment"
  ],

  "scripts" : ["/interface/scripted/enhancedstorageshipper/enhancedstorageshippergui.lua"],
  "scriptDelta" : 5,

  "sellFactor" : 0.2
}
