{

  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_containercraftingstation.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/containercraftingstationheader.png",
      "fileBody" : "/interface/crafting/containercraftingstationbody.png",
      "fileFooter" : "/interface/crafting/containercraftingstationfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [375, 277]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "^orange;Storage Matrix^white;",
      "subtitle" : "Reshapes Storage Matter",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/containercraftingstation.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/containercraftingstation_shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [193, 274],
      "zlevel" : 5
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [129, 260],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;NUMBER OF SLOTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [319, 260],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [274, 46],
      "upOffset" : 34
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [286, 46],
      "textAlign" : "center",
      "maxWidth" : 15,
      "regex" : "x?\\d{0,3}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [280, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [325, 43],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [325, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [250, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [251, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [67, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [78, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },
    "description" : {
      "type" : "widget",
      "position" : [244, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [56, 43],
      "hint" : "Search",
      "maxWidth" : 124,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [7, 69, 228, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/containercraftingstation_craftableselected.png",
            "unselectedBG" : "/interface/crafting/containercraftingstation_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [210, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/containercraftingstation_craftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 170,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [171, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [176, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [188, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/containercraftingstation_notcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "lbl24slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_24slots.png",
      "position" : [4, 238],
      "zlevel" : 3
    },
    "lbl32slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_32slots.png",
      "position" : [31, 238],
      "zlevel" : 3
    },
    "lbl40slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_40slots.png",
      "position" : [58, 238],
      "zlevel" : 3
    },
    "lbl48slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_48slots.png",
      "position" : [85, 238],
      "zlevel" : 3
    },
    "lbl56slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_56slots.png",
      "position" : [112, 238],
      "zlevel" : 3
    },
    "lbl64slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_64slots.png",
      "position" : [139, 238],
      "zlevel" : 3
    },
    "lbl72slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_72slots.png",
      "position" : [166, 238],
      "zlevel" : 3
    },


    "lbl80slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_80slots.png",
      "position" : [4, 222],
      "zlevel" : 3
    },
    "lbl90slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_90slots.png",
      "position" : [31, 222],
      "zlevel" : 3
    },
    "lbl100slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_100slots.png",
      "position" : [58, 222],
      "zlevel" : 3
    },
    "lbl110slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_110slots.png",
      "position" : [85, 222],
      "zlevel" : 3
    },
    "lbl120slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_120slots.png",
      "position" : [112, 222],
      "zlevel" : 3
    },
    "lbl160slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_160slots.png",
      "position" : [139, 222],
      "zlevel" : 3
    },
    "lbl300slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_300slots.png",
      "position" : [166, 222],
      "zlevel" : 3
    },
    "lblallslotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_allslots.png",
      "position" : [193, 222],
      "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_24slots" ]
          }
        },
        {
          "position" : [31, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_32slots" ]
          }
        },
        {
          "position" : [58, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_40slots" ]
          }
        },
        {
          "position" : [85, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_48slots" ]
          }
        },
        {
          "position" : [112, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_56slots" ]
          }
        },
        {
          "position" : [139, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_64slots" ]
          }
        },
        {
          "position" : [166, 236],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab1.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab1.png",
          "data" : {
            "filter" : [ "containercraftingstation_72slots" ]
          }
        },


        {
          "position" : [4, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_80slots" ]
          }
        },
        {
          "position" : [31, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_90slots" ]
          }
        },
        {
          "position" : [58, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_100slots" ]
          }
        },
        {
          "position" : [85, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_110slots" ]
          }
        },
        {
          "position" : [112, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_120slots" ]
          }
        },
        {
          "position" : [139, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_160slots" ]
          }
        },
        {
          "position" : [166, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_300slots" ]
          }
        },
        {
          "position" : [193, 220],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_allslots" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
