{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/containerrecycler/containerrecycler_header.png",
      "fileBody" : "/interface/scripted/containerrecycler/containerrecycler_body.png",
      "fileFooter" : "/interface/scripted/containerrecycler/containerrecycler_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [172, 162]
    },
    "prgTime" : {
      "type" : "progress",
      "zlevel" : 1,
      "position" : [84, 79],
      "size" : [39, 9],
      "progressSet" : {
        "inner" : "/interface/scripted/containerrecycler/bar_full.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1,
      "initial" : 0
    },
    "lblInput" : {
      "type" : "label",
      "position" : [46, 115],
      "hAnchor" : "mid",
      "wrapWidth" : 50,
      "value" : "^#b9b5b2;INPUT"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [143, 115],
      "hAnchor" : "mid",
      "wrapWidth" : 50,
      "value" : "^#b9b5b2;OUTPUT"
    },
    "lblText" : {
      "type" : "label",
      "position" : [95, 142],
      "hAnchor" : "mid",
      "wrapWidth" : 180,
      "value" : "^#b9b5b2;Place empty containers in the INPUT slots."
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [17, 55],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 9,
      "position" : [134, 74],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/scripted/containerrecycler/containerrecycler_shine.png",
      "position" : [0, 0]
    }
  },
  "scripts" : ["/interface/scripted/containerrecycler/containerrecyclergui.lua"],
  "scriptDelta" : 10
}
