{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/containermanipulatorstation/containermanipulatorstation_header.png",
      "fileBody" : "/interface/scripted/containermanipulatorstation/containermanipulatorstation_body.png",
      "fileFooter" : "/interface/scripted/containermanipulatorstation/containermanipulatorstation_footer.png"
    },
    "craftButton" : {
      "type" : "button",
      "position" : [116, 26],
      "base" : "/interface/scripted/containermanipulatorstation/craft.png",
      "hover" : "/interface/scripted/containermanipulatorstation/crafthover.png",
      "caption" : "Modify",
      "callback" : "craftButton",
      "visible" : true,
      "disabled" : true
    },
    "stopButton" : {
      "type" : "button",
      "position" : [116, 26],
      "base" : "/interface/scripted/containermanipulatorstation/stopactive.png",
      "hover" : "/interface/scripted/containermanipulatorstation/stopactivehover.png",
      "caption" : "Stop",
      "callback" : "stopButton",
      "visible" : false
    },
    "spinnerTextboxImage" : {
      "type" : "image",
      "file" : "/interface/scripted/containermanipulatorstation/spinnerTextboxImage.png",
      "position" : [129, 47],
      "zlevel" : 0
    },
    "spinnerTextbox" : {
      "type" : "textbox",
      "position" : [131, 47],
      "value" : "9",
      "textAlign" : "center",
      "regex" : "x?\\d{0,4}",
      "maxWidth" : 20,
      "hint" : "Slots",
      "escapeKey" : "spinnerTextboxAbort",
      "enterKey" : "spinnerTextboxEnter",
      "callback" : "null",
      "focus" : false,
      "zlevel" : 1
    },
    "spinnerBlockText" : {
      "type" : "label",
      "position" : [144, 47],
      "hAnchor" : "mid",
      "wrapWidth" : 20,
      "value" : "",
      "zlevel" : 1,
      "visible" : false
    },
    "spinnerPickLeft" : {
      "type" : "button",
      "base" : "/interface/scripted/containermanipulatorstation/spinnerPickLeft.png",
      "hover" : "/interface/scripted/containermanipulatorstation/spinnerPickLeftHover.png",
      "position" : [122, 47],
      "zlevel" : 1
    },
    "spinnerPickRight" : {
      "type" : "button",
      "base" : "/interface/scripted/containermanipulatorstation/spinnerPickRight.png",
      "hover" : "/interface/scripted/containermanipulatorstation/spinnerPickRightHover.png",
      "position" : [156, 47],
      "zlevel" : 1
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [172, 162]
    },
    "prgTime" : {
      "type" : "progress",
      "zlevel" : 1,
      "position" : [65, 78],
      "size" : [58, 9],
      "progressSet" : {
        "inner" : "/interface/scripted/containermanipulatorstation/bar_full.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1,
      "initial" : 0
    },
    "lblNewSlotCount:" : {
      "type" : "label",
      "position" : [18, 47],
      "hAnchor" : "left",
      "wrapWidth" : 70,
      "value" : "^#b9b5b2;NEW SLOT COUNT:"
    },
    "lblPrice" : {
      "type" : "label",
      "position" : [18, 29],
      "hAnchor" : "left",
      "wrapWidth" : 70,
      "value" : "^#b9b5b2;INGREDIENTS:"
    },
    "lblInput" : {
      "type" : "label",
      "position" : [46, 96],
      "hAnchor" : "mid",
      "wrapWidth" : 50,
      "value" : "^#b9b5b2;INPUT"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [143, 96],
      "hAnchor" : "mid",
      "wrapWidth" : 50,
      "value" : "^#b9b5b2;OUTPUT"
    },
    "lblStar" : {
      "type" : "label",
      "position" : [154, 124],
      "hAnchor" : "mid",
      "wrapWidth" : 30,
      "fontSize" : 8,
      "value" : "^yellow;^reset;"
    },
    "lblText" : {
      "type" : "label",
      "position" : [95, 142],
      "hAnchor" : "mid",
      "wrapWidth" : 180,
      "value" : "^#b9b5b2;Place empty containers in the INPUT slot."
    },
    "lblError" : {
      "type" : "label",
      "position" : [95, 63],
      "hAnchor" : "mid",
      "wrapWidth" : 180,
      "fontSize" : 7,
      "value" : ""
    },
    "moneyIcon" : {
      "type" : "image",
      "position" : [72, 28],
      "file" : "/items/generic/other/enhancedstoragematerialicon.png"
    },
    "moneyLabel" : {
      "type" : "label",
      "position" : [92, 29],
      "hAnchor" : "left",
      "value" : "0"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [36, 74],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "workingInput" : {
      "type" : "image",
      "file" : "/interface/scripted/containermanipulatorstation/working.png",
      "position" : [36, 74],
      "visible" : false,
      "zlevel" : 10
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [134, 74],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "workingOutput" : {
      "type" : "image",
      "file" : "/interface/scripted/containermanipulatorstation/working.png",
      "position" : [134, 74],
      "visible" : false,
      "zlevel" : 10
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/scripted/containermanipulatorstation/containermanipulatorstation_shine.png",
      "position" : [0, 0]
    }
  },
  "scriptWidgetCallbacks" : [
    "craftButton",
    "stopButton",
    "spinnerPickLeft",
    "spinnerPickRight",
    "spinnerTextboxAbort",
    "spinnerTextboxEnter"
  ],
  "scripts" : [
    "/interface/scripted/containermanipulatorstation/containermanipulatorstationgui.lua"
  ],
  "scriptDelta" : 10
}
